body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    font-family: Arial, sans-serif;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
button {
    border-radius: 12px;
    padding: 10px 20px;
    border: none;
    margin-left: 10px;
} 
.text-container {
    text-align: left;
    margin-top: 20px;
} 
.search-container {
    position: relative;
    display: flex;
    justify-content: left;
    margin-top: 20px
}
input[type="text"] {
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    padding-right: 100px;
}
.search-button {
    position: absolute;
    right: 320px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    background-color: orange;
    color: white;
}
.sport-button {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 10px;
    margin-top: 20px;
    border-radius: 12px;
}
.sport-logo {
    width: 30px;
    height: 20px;
    margin-right: 5px;
}
.container {
    display: flex; 
    justify-content: space-between; 
    margin: 20px;
}
.encadrer {
    border: 2px solid #000;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9
}
.encadrer-connexion {
    font-size: 16px;
    height: 20px;
    padding: 7px 5px;
    border-radius: 20px;
    border: 2px solid #000
}
.rectangle {
    height: 5px;
    margin: 40px;
    width: 350px;
    background-color:#000;
    border: 2px solid #000;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cercle {
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
input[type="password"] {
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    padding-right: 100px;
}
button a {
    text-decoration: none;
}
p a {
    text-decoration: none;
}