body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #333;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
 

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
input[type="text"] {
    border-radius: 70px;
    padding: 17px;
    width: 480px;
    padding-right: 100px;
}

 
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
.top-section {
    background: linear-gradient(to bottom, #B8C5D6, #FFDFA7);
    height: 65vh;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
   
}
 

 



.flex{
    display: flex;
}
.encadrer {
    border-radius: 20px;
    margin: 10px;
    width: 300px;
    margin-left: 170px;
    padding-left: 40px;
    padding-right: 40px;
    background:  #ead3ad;
}

.encadrer2 {
    border-radius: 20px;
    margin: 10px;
    width: 300px;
    margin-left: 015px;
    padding-left: 50px;
    padding-right: 50px;
    background:  #ead3ad;
}

.encadrer3 {

    border-radius: 20px;
    margin: 10px;
    width: 300px;
    margin-left: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background: #ead3ad;
}

.enca {
    border-radius: 20px;
    margin: 10px auto; 
    width: 80%; 
    padding: 20px;
    background: #ead3ad;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.user-reviews {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}


.review {
    border-radius: 15px;
    padding: 15px;
    background: #fff; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    word-wrap: break-word;
}


.review p {
    margin: 5px 0; 
}

.review {
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
 
.enca3 {
    border-radius: 20px;
    margin: 10px auto; 
    width: 80%; 
    padding: 20px;
    background: #ead3ad;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.enca3 p{
    border-radius: 15px;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    word-wrap: break-word; 
}