.header-container_haut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.button-container_haut {
    display: flex;
    gap: 10px;
}

.haut {
    border-radius: 25px;
    padding: 5px 10px;
    border: none;
    background-color: #ff7f50;
    color: white;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s;
}

.haut a {
    text-decoration: none;
    color: white;
}

.haut:hover {
    background-color: #ff6347;
}
